/******* GENERAL *******/
/* spacing on all sections */
#about,
#skills,
#portfolio,
#contact {
    margin-top: 4rem;
    padding-top: 4rem;
    text-align: center;
}
#about h3,
#skills h3,
#portfolio h3,
#contact h3 {
    font-size: 45px;
    margin-bottom: 3rem;
    display: inline-block;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(6,47,95,1) 35%, rgba(0,212,255,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#contact {
    padding-bottom: 4rem;
}

/* display background dark color on navbar scroll */
.navbarScroll.navbarDark {
    background-image: linear-gradient(20deg, #000, #b0e2f2, #788b9f, #0d4c5f, #59d3f9);
   
}
.fixed-top {
    background-image: linear-gradient(50deg, #000, #b0e2f23b, #788b9f, #11282f69, #59d3f9);
    height:80px;
}

.nav-link.nav-link {
    font-weight: bold;
    color: #fff;
    font-size: 18px;
}


/* hero background image */
.bgimage {
    height: 100vh;
    max-height: 900px;
    background: url("images/bg-img.webp");
    background-size: cover;
    position: relative;
    opacity: 0.9;
}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
    background-color: rgba(0, 0, 0, 0.1);
}
.hero_desc {
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.1);
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    
    
}

/* about */
.imageAboutPage {
    width: 300px;
    height: 300px;
    margin-top: 1.5rem;
}
.imageAboutPage {
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
#about p {
    margin-top: 1.5rem;
    line-height:35px;
    text-align: justify;
}

/* skills */
.skillsText.card {
    height: 350px;
    cursor: pointer;
    border-radius: 20%;
    box-shadow: 0 0 10px rgba(8, 212, 193, 0.87);
    
}
.skillsText img {
    width: 100%;
    height: 100px;
    object-fit: contain;
}
#skills p {
    text-align: center;
    
    
}
.skillsIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover  {
    color:#2980b9
}
.skillsText:hover {
    border: 1px solid #2980b9
}
.skillsIcon{
    color: #73c6b6
}
/* portfolio */
#portfolio p {
    text-align: center;
}
.portfolioContent {
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(10, 118, 232, 0.46);
    border-radius: 2.5rem !important;
}
.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    background-color: #fff;
    background-clip: border-box;
}

.card.portfolioContent {
    height: 100%;
}
.card-img-top {
    object-fit: cover;
    height: 220px;
}

.btn-success.btn-success {
    background-color: #2874a6;
    border-color: transparent;
    font-weight: bold;
}
.btn-success:hover {
    transform: scale(1.15);
    background-color: #086d8d;
}

/* contact */
.contactColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactColumn i {
    color: #2874a6;
    font-size: 50px;
    padding:15px;
}

/* footer */

